h1{
    color: red
}

a{
    text-align: center;
}

img{
    
    margin: 0.7%;
    max-width: 15%;
    
}

.img-div{

    background-color: lightblue;
    border-radius: 5px;
    }

#img-1{
    position: fixed;
    top: 10px;
    left: 10px;
}

p{
    font-size: 50px;}